@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Tungsten;
  src: url("/tungsten.ttf");
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}
